.resume-biography {
    #profile {
      margin-top: 6rem;
      text-align: center;
      padding: 30px 10px;
      position: relative;
    }
}

.blox-resume-biography-3 {
  padding-top: 0 !important;
}

#about-me {
  margin-top: 0;
}

.article-container {
  max-width: 960px;
}